@media screen and (max-width: 930px) {
  header .container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
  }
  header nav a {
    padding-bottom: 3px;
  }
  .swiper-container {
    height: 200px;
  }
    .main-page .description {
      width: 60%;
    }
  }
  @media screen and (max-width: 720px) {
    header .container {
      display: flex;
      flex-direction: row;
      background-color: black;
      align-items: center;
    }
  
    .swiper-container {
      height: 200px;
    }

    .titulo {
      font-size: 70px;
    }
    .main-page .description {
      width: 70%;
    }
        .hamburguer {
          display: block;
        }

        .hamburguer.active .bar:nth-child(2){
          opacity: 0;
        }

        .hamburguer.active .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .hamburguer.active .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }

        .nav-menu{
          position: fixed;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          background-color: black;
          width: 100%;
          text-align: center;
          transition: 0.3s;
        }
        .nav-item{
          margin: 16px 0;
        }
        .nav-menu.active{
          left: 0;
        }
  }
    @media screen and (max-width: 654px) {
    .main-page .description {
      width: 70%;
  }
    .main-page img {
      width: 300px;
      height: 150px;
      margin-bottom: 15px;
      margin-top: 50px;
    }
        .background {
          background-position-x:40%;
         }
        .btn{
         width: 200px;
          height: 50px;
          padding: 15px 20px;
        }
                 header .logo img {
                   width: 150px;
                   height: 50px;
                 }
  }
@media screen and (max-width: 442px){
  .background {
      background-position-x: 50%;
    }
  .main-page img {
      width: 250px;
      height: 120px;
      margin-bottom: 15px;
      margin-top: 50px;
    }
    .main-page .description {
      width: 60%;
   }
    .btn {
      width: 150px;
      height: 50px;
      padding: 15px 20px;
   }
    .carousel{
      height: 200px;
 }
    .tbtile{
   height: 140px;
 }
    section{
      height: 160px;
    }
    #img{
      margin-top: 80px;
    }
  }   
 @media screen and (max-width: 375px){
.background {
    background-position-x: 60%;
  }
    .main-page img {
      width: 200px;
      height: 100px;
    }
        .main-page .description {
          font-size: 13px;
          width: 70%;
          margin-top: 10px;
 }
 header .logo img {
   width: 120px;
   height: 50px;
 }
  
 #img{
  margin-top: 130px;
 }
 }
@media screen and (max-width: 340px) {
.btn{
  width: min-content;
}
.main-page .description{
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 90%;
}

#img{
  margin-top: 150px;
}
header .logo img {
  width: 120px;
  height: 40px;
}

}